.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}
html {
    height: 100%;
    width: 100%;
    min-height: 100%;
    background-image: url("background.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#login-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}