/* some styles for the top navigation bar */


/*used this website to come up with color theme: https://www.sessions.edu/color-calculator/*/


/*info on css variables https://www.w3schools.com/css/css3_variables.asp*/

:root {
    /*green and red are complimentary*/
    --maincolor: #57bf40;
    --secondcolor: #bf4057;
    --thirdcolor: #bf7540;
    --fourthcolor: #406ebf;
}


/* Add a black background color to the top navigation */

.topnav {
    background-color: var(--thirdcolor);
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: var(--secondcolor);
    color: #f2f2f2;
}


/* Add an active class to highlight the current page */

.topnav a.active {
    background-color: var(--maincolor);
    color: white;
}


/* for search box, tutorial https://www.w3schools.com/howto/howto_css_searchbar.asp */

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}


/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}


/* css for the buttons on homepage and elsewhere */

.btngroupwrapper {
    background-color: inherit;
    text-align: center;
}

.centeredbtngroup {
    background-color: inherit;
    display: inline-block;
    padding: 50px 50px;
}


/* 
  btns for homepage navigation
  reference text buttons: https://www.w3schools.com/howto/howto_css_text_buttons.asp 
  reference for rounded buttons: https://www.w3schools.com/howto/howto_css_round_buttons.asp
*/

.btnnav {
    background-color: var(--maincolor);
    border: none;
    color: #f2f2f2;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    border-radius: 8px;
    cursor: pointer;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* for serach box in menu */

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a,
    .topnav input[type=text],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}


/*css background https://www.w3schools.com/csS/css_background.asp*/

body {
    background: var(--fourthcolor);
    font-family: Arial, Helvetica, sans-serif;
}


/* css header https://www.w3schools.com/howto/howto_css_style_header.asp */

.header {
    padding: 30px;
    text-align: center;
    background: var(--thirdcolor);
    color: white;
    font-size: 30px;
}